<!DOCTYPE html>
<html lang="en">
<head>
    <title>Job Application Website</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="intern-header">
            <h1>Intern - Software Testing</h1>
            <!-- /templates/register.html -->
            <a href="/register">Apply now</a>
        </div>
        <p class="remote-fulltime">Remote | Full Time</p>
    </header>
    <main class="main-content">
        <section class="requirements">
            <h2>Requirements</h2>
            <ul>
                <li>Knowledge of java, python and SQL</li>
                <li>Ability to develop different automation frameworks.</li>
                <li>Communication with customer, follow-ups and MoMs</li>
                <li>Understanding of framework and ability to picture customers automation architecture</li>
                <li>Understanding of DATABASE, PROGRAMMING LANGUAGE and BACKEND Architecture</li>
                <li>Work with delivery teams to create case studies for automation & other value addition for the customer pitch</li>
                <li>Explore products for timeline, estimates and execution roadmap for automation</li>
                <li>Create automation framework / execution based on the initial discussion</li>
                <li>Reports walk through to the customers based on the context and domain expertise</li>
            </ul>
        </section>
        <section class="foot">
            <h2>Work with us.</h2>
            <p>We have many many customers knocking our door. Looking at the expansion that is happening with our existing 
                customers and the growth opportunities that are coming our way - we want to bring in some talent that helps 
                us scale to the great level.</p>
            <p>We are looking to hire leaders and people with leadership qualities to help us grow. Use this form to know more 
                and apply - our wonderful energetic, passionate and smiling team shall fully support you during this process.</p>
        </section>
    </main> 
</body>
</html>